<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    <li *ngFor="let item of items; let last = last; let i = index" class="breadcrumbs-item">
      <a
        *ngIf="item.href && !last; else labelTpl"
        [href]="item.href"
        class="breadcrumbs-link"
      >{{ item.label }}</a>
      <ng-template #labelTpl>
        <span
          class="breadcrumbs-current"
          [attr.aria-current]="last ? 'page' : null"
        >{{ item.label }}</span>
      </ng-template>
      <span *ngIf="!last" class="breadcrumbs-sep" aria-hidden="true">
        <svg viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg" width="6" height="10">
          <path d="M1 1l4 4-4 4" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </li>
  </ol>
</nav>
